@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:Poppins,sans-serif;
}
body{
	background:#ddd;
}
.header{
	width:100%;
	height:70px;
	background:white;
	padding:0px 8%;
	box-shadow:0px 0px 8px black;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.header h2{
	font-size:20px;
}
.header a{
	padding:8px 20px;
	background:crimson;
	cursor:pointer;
	outline:none;
	border-radius:4px;
	text-decoration:none;
	color:white;
}
.container1{
	width:100%;
	height:70px;
	padding:0px 8%;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.container1 a{
	text-decoration:none;
	padding:8px 20px;
	background:blue;
	color:white;
	border:2px solid blue;
	border-radius:4px;
}
.container1 p{
	font-weight:530;
}
.main-container{
	padding:20px 8%;
}
.main-container .container2{
	width:100%;
	height:100%;
	background:white;
	padding:10px;
	border-radius:5px;
}
.container2 .input-field{
	width:100%;
}
.container2 .input-field label{
	font-weight:bold;
	font-size:14px;
}
.container2 .input-field input{
	width:100%;
	margin-top:8px;
	padding:10px;
	outline:none;
	border-radius:3px solid black;
	font-size:18px;
}

.container2 table tbody .tr-hide{
	display:none;
}

.container2 table tbody .tr-show{
	border-bottom:2px solid blue;
	width:100%;
	
}

.container2 table {
	margin-top:20px;
	width:100%;
	border-collapse:collapse;
	
}
.container2 table th{
	background:blue;
	color:white;
	padding:10px;
}
.container2 table td{
	padding:7px;
	text-align:center;
	font-size:15px;
}
.container2 table tbody tr{
	border-bottom:2px solid blue;
}
.container2 table tbody tr td a{
	padding:3px 10px;
	text-decoration:none;
	color:black;
}








